# ignorar access, credentials y cualquier commit que pueda subir info sensible

/__pycache__
/extensions/__pycache__
/extensions/__init__.py
/extensions/access.py
/extensions/upload_id.py


# ignorar archivos json
*.json
